.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease;
}

.modalContent {
  background: #fff;
  border-radius: 16px;
  padding: 0;
  width: 95%;
  max-width: 960px;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.modalHeaderBlue {
  background: linear-gradient(to right, #007bff, #3b82f6);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  font-weight: bold;
  font-size: 18px;
}

.modalTitle {
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.modalBody {
  padding: 24px;
  overflow-y: auto;
  max-height: 65vh;
  background-color: #f9fbfc;
}

.modalFooter {
  background-color: #f1f5f9;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
}

.left,
.right {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.btnCancel {
  background: #e5e7eb;
  border: none;
  padding: 8px 16px;
  border-radius: 25px;
  color: #374151;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.btnCancel:hover {
  background: #d1d5db;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.btnSubmit {
  background: linear-gradient(to right, #267FEA, #12268B);
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s ease;
}

.btnSubmit:hover {
  background: linear-gradient(to right, #1f77e3, #0a1d79);
}

.iconPlus {
  font-size: 12px;
}